header {
    height: 200px;
    
    background-image:url(https://f.i.uol.com.br/fotografia/2021/07/20/162679014360f6d9000011c_1626790143_3x2_rt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    height: 600px;
    background-color: rgb(255, 252, 99);
}

aside {
    height: 600px;
    background-color: rgb(61, 201, 36);
}



footer {
    height: 59px;
    background-color: #84a2fc;
}

.imagemmain {
    height: 350px;
    margin-left: 26px;
    margin-top: 100px;
}
#pp{
    width: 200px;
}

.container {
    display: flex;
    align-items: center;
   
}
main p {
    text-align: left;
    margin-right: 5px;
}

.header2 {
    height: 200px;
    
    background-image:url(https://static.globalnoticias.pt/tsf/image.jpg?brand=TSF&type=generate&guid=6dab220c-3a71-4817-8a92-81f09e8f16ab);
    background-repeat: no-repeat;
    background-size: cover;
}